:root {
  font-size: 16px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "head head"
    "as nav"
    "as main"
    "as foot";
  grid-template-columns: 80px 1fr;
  grid-template-rows: 75px 60px 1fr 85px;
  transition: 1s;
}

/* GENERALI */

header {
  grid-area: head;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 0.5px solid lightgray;
}

nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  border-left: 0.5px solid lightgray;
  overflow: auto;
}

nav::-webkit-scrollbar {
  display: none;
}
nav .menu-nav {
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: white;
  background-color: #697d91;
}

aside {
  grid-area: as;
  padding: 1rem 0.5rem;
}

main {
  grid-area: main;
  border-left: 0.5px solid lightgray;
}

footer {
  grid-area: foot;
  border-left: 0.5px solid lightgray;
}

/* SPECIFICHE */

/*HEADER*/

.logo-sect {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.input-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.input-bar > input {
  height: 2.5rem;
  width: 35vw;
  border: 1px solid rgba(167, 163, 163, 0.541);
  outline: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.input-bar > button {
  height: 30px;
  border: transparent;
  position: absolute;
  right: 0;
  background-color: white;
  border-radius: 2rem;
}
.input-bar > button > img {
  height: 80%;
  margin-top: 0.3rem;
  margin-right: 1rem;
  padding-bottom: 5px;
}
.sign-sect {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-right: 1rem;
}

.sign-sect > button:nth-child(1) {
  font-weight: 600;
  padding: 0.8rem 1rem;
  background: transparent;
  border-radius: 3rem;
  border: none;
}

.sign-sect > button:nth-child(1):hover {
  background-color: #f5f6f9;
}

.sign-sect > button:nth-child(2) {
  border: solid 3px #85c742;
  border-radius: 3rem;
  font-weight: 600;
  padding: 0.8rem 1rem;
  background-color: transparent;
}

.sign-sect > button:nth-child(2):hover {
  background-color: #f5f6f9;
  color: #697d91;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  cursor: pointer;
}

.images:hover {
  background-color: #f3f5f8;
}

.images img {
  height: 20px;
}

span {
  font-size: 0.7rem;
  text-align: center;
}

.radiusimgs {
  display: flex;
  justify-content: center;
  padding-top: 1.2rem;
}

.imgtonde {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.imgtonde > img {
  border-radius: 50%;
  height: 28px;
  width: 28px;
  cursor: pointer;
}

.radiusimgs > span {
  font-weight: bold;
}

/* MAIN */

.central-section {
  display: flex;
  align-items: center;
  background-color: #f3f5f8;
  padding: 1rem 2rem;
}

.central-section > div > span {
  font-size: 1rem;
  color: #b5a8b8;
}

#span {
  padding-right: 1rem;
}

#span h2 {
  padding: 1rem 0rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.central-section img {
  width: 90%;
  border-radius: 10px;
}

.cont-profilo {
  display: flex;
  gap: 0.5rem;
}

.cont-profilo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.testo-cont {
  display: flex;
  flex-direction: column;
  padding-top: 0.3rem;
}

.titoletto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem 0.5rem 2rem;
  font-size: 1.2rem;
  font-weight: 800;
  background-color: #e9ebee;
  border-top: 1px solid lightgray;
}

.titoletto > button {
  background-color: white;
  padding: 0.5rem 1.2rem;
  border-radius: 2rem;
  color: darkslategray;
  border: 1px solid #85c742;
  cursor: pointer;
}

.pulsanti2 {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #f23160;
}

.pulsanti2:hover {
  background-color: #697d91;
  color: white;
}

.titoletto > button:hover {
  background-color: #85c742;
}

.spazio-video {
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: #e9ebee;
  border-bottom: 1px solid lightgray;
}

.contimg > img {
  border-radius: 1rem;
}

.spazio-video-quadrati {
  display: flex;
  gap: 1.5rem;
  padding: 1rem 2rem;
  background-color: #e9ebee;
}

.foto-profilo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.5rem;
}

.foto-profilo > img {
  border-radius: 50%;
}

.testo {
  padding: 0.3rem 0;
}

.views {
  font-size: 0.8rem;
}

.habibi {
  font-weight: bold;
  font-size: 0.9rem;
}

figure img {
  border-radius: 0.7rem;
}

.caption-container {
  padding-top: 0.3rem;
}

/*NAVBAR*/

.pulsanti {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.pulsanti:hover {
  background-color: #697d91;
  color: white;
}

#slap {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  background-color: #002cfe;
  cursor: pointer;
}

#live {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  background-color: #f23160;
  color: white;
  cursor: pointer;
}

#ufc {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  background-color: #d20a0a;
  cursor: pointer;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lista1 ul {
  display: flex;
  list-style: none;
  font-weight: 600;
  color: rgb(49, 49, 49);
}

li {
  padding: 0 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

.lista2 ul {
  display: flex;
  list-style: none;
}

.copyrightp {
  font-size: 0.7rem;
  color: #495a6a;
}
#sls {
}

/* Media queries */

/* TABLET */

@media screen and (max-width: 960px) {
  body {
    grid-template-columns: 0px 1fr;
  }
  aside {
    display: none;
  }
  .tablet {
    display: none;
  }
}

/* Smartphone*/

@media screen and (max-width: 640px) {
  body {
    grid-template-columns: 0px 1fr;
  }
  aside {
    display: none;
  }
  .tablet {
    display: none;
  }
  .mobile {
    display: none;
  }
  .input-bar {
    display: none;
  }
  .central-section {
    flex-direction: column;
    justify-content: center;
  }
  .central-section #centro {
    display: flex;
    justify-content: center;
  }
  .central-section img {
    width: 100%;
    border-radius: 10px;
  }
  .lista1 ul {
    flex-direction: column;
    padding-top: 2rem;
  }
  footer {
    flex-direction: column;
    padding-top: 2rem;
  }
}
